* {
    font-family: "Raleway", "sans-serif";
    margin: 5px 5px 5px 5px;
    padding: 0px;
}


/* debut body */

body {
    color: black;
    font-weight: 400;
    height: auto;
    font-size: 0.95em;
    background-color: white;
    font-size: 0.95em;
}


/* debut header */

body header nav img {
    position: absolute;
}


/* debut navigation */

body header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 50px;
}

body header nav ul li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 7%;
}

body header nav ul li a {
    text-decoration: none;
    color: black;
    padding-top: 20px;
}


/* hover navigation */

body header nav ul li a:hover {
    margin: 0px;
    color: #0065fc;
    border-top: solid #0065fc;
    transition: all 30ms;
    padding-top: 20px;
}


/* navigation inscription */

body header nav ul li.inscription a {
    color: #0065fc;
    border-top: none;
    font-weight: bold;
}


/* debut main */

body main {
    padding-bottom: 0;
    max-width: calc(100% - 0em);
    margin: 0;
}

body main h1 {
    margin-left: 20px;
    font-size: x-large;
}

body main p {
    margin-left: 25px;
}


/* bar de recherche*/

body main div#modulerecherche {
    height: 50px;
    width: 42%;
    margin: 0px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}


/* icon bar de recherche*/

body main div#modulerecherche div#map i {
    position: absolute;
    left: 30px;
    height: 46px;
    width: 50px;
    background-color: #f2f2f2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}


/* input bar de recherche */

body main div#modulerecherche input {
    margin-left: 60px;
    height: 45px;
    width: 235px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-weight: 800;
    font-size: 1.15rem;
    font-weight: 600;
    padding-left: 0px;
}


/* boutton bar de recherche */

body main div#modulerecherche button {
    position: absolute;
    right: 860px;
    top: 179px;
    border: none;
    width: 100px;
    height: 46px;
    color: white;
    background-color: #0065fc;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    font-weight: 800;
    font-size: 1.15em;
}


/* arrondi des images dans hebergement  section 1*/

body main .img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}


/* les filtres */

body main #lesfiltres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
}

body main .boutonsfiltre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: space-between 50rem;
    align-content: space-between 50rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

body main .filtre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px;
    height: 37px;
    border-top: 2.5px solid #f2f2f2;
    border-right: 2.5px solid #f2f2f2;
    border-left: none;
    border-bottom: 2.5px solid #f2f2f2;
    border-radius: 25px;
    cursor: pointer;
}


/* icon ds filtre */

body main .filtre div#icon {}

body main .filtre div#icon i {
    height: 44px;
    width: 44px;
    color: #0065fc;
    background-color: #deebff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}

body main .filtre:hover {
    color: #0065fc;
    background-color: #deebff;
}

body main .filtre:hover div#icon i {
    color: white;
    background-color: #0065fc;
}


/* texte dans les filtres */

body main .filtre p {
    font-weight: 800;
    font-size: 1.15em;
}


/* info */

body main div.info {
    display: inline-flex;
    align-items: baseline;
    margin-left: 20px;
}


/* icon info */

body main p i {
    color: white;
    background-color: #0065fc;
    border-radius: 3rem;
    border: 1px groove #f2f2f2;
    width: 14px;
    height: 14px;
}


/*  Section  1 hebergement a marseille*/

body main section.hebergement {
    padding-top: 2%;
}

body main section.hebergement div.container_hebergement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles {
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 1rem;
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles h3 {
    margin: 15px 0px 10px 10px;
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv div.col {
    width: 32%;
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv div.col header {
    padding: 22% 0%;
    background-position: center;
    text-align: center;
    background-size: cover;
}


/* les titres dans la partie hébergement a marseille */

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv div.titreArticle h3 {
    font-weight: 600;
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv div.titreArticle p.paragrapher {
    margin-left: 10px;
}


/* les imanges dans la partie hébergement a marseille */

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv div.col .img1 {
    background-image: url(../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv div.col .img2 {
    background-image: url(../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv div.col .img3 {
    background-image: url(../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv div.col .img4 {
    background-image: url(../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv div.col .img5 {
    background-image: url(../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv div.col .img6 {
    background-image: url(../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

body main section.hebergement div.container_hebergement div.hebergementamarseilles div.contentDiv div.col i.fa-star {
    color: #0065fc;
    font-size: 0.7rem;
    letter-spacing: -12px;
}


/*  Section  1 hebergement a marseille partie les plus popuaires*/

body main section.hebergement div.container_hebergement div.contentpopulaire {
    background-color: #f2f2f2;
    width: 30%;
}

body main section.hebergement div.container_hebergement div.contentpopulaire h3 {
    margin: 15px 0px 10px 10px;
    font-weight: 600;
}

body main section.hebergement div.container_hebergement div.contentpopulaire i.fa-chart-line {
    position: absolute;
    right: 58px;
    top: 433px;
}

body main section.hebergement div.container_hebergement div.contentpopulaire .img_populaire {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

body main section.hebergement div.container_hebergement div.contentpopulaire div.populaire {
    width: 90%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
}

body main section.hebergement div.container_hebergement div.contentpopulaire div.populaire header {
    padding: 22% 0%;
    background-position: center;
    text-align: center;
    background-size: cover;
}


/* les imanges dans la partie les plus populaires */

body main section.hebergement div.container_hebergement div.contentpopulaire div.populaire .img7 {
    width: 40%;
    margin-bottom: 2%;
    background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

body main section.hebergement div.container_hebergement div.contentpopulaire div.populaire .img8 {
    width: 40%;
    background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

body main section.hebergement div.container_hebergement div.contentpopulaire div.populaire .img9 {
    width: 40%;
    background-image: url(../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

body main section.hebergement div.container_hebergement div.contentpopulaire div.populaire p.paragrapher {
    margin-left: 10px;
}


/* Icons etroiles hebergement a marseille dans section 1 */

body main section.hebergement div.container_hebergement div.contentpopulaire div.populaire div.titreArticle i.fa-star {
    color: #0065fc;
    font-size: 0.7rem;
    letter-spacing: -12px;
    padding-top: 18px;
}


/* parti plus de logement dans section 1 */

body main p.plusdelogements {
    margin-top: 50px;
    margin-left: 20px;
}


/*  Section  2 activité a marseille */

body section.activites div.activite {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
}

body section.activites div.activite div.col {
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    margin-bottom: 5%;
}

body section.activites div.activite div.col header {
    padding: 22% 0%;
    background-position: center;
    text-align: center;
    background-size: cover;
}


/* les imanges dans activités a marseille */

body section.activites div.activite div.col .img10 {
    height: 193px;
    background-image: url(../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

body section.activites div.activite div.col .img11 {
    background-image: url(../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

body section.activites div.activite div.col .img12 {
    background-image: url(../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

body section.activites div.activite div.col .img13 {
    height: 193px;
    background-image: url(../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

body section.activites div.activite div.col .img14 {
    background-image: url(../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

body section.activites div.activite div.col .img15 {
    background-image: url(../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

body section.activites div.activite div.col div.titreArticle {
    border: #deebff;
    border-right: 2.5px solid #f2f2f2;
    border-left: 2.5px solid #f2f2f2;
    border-bottom: 2.5px solid #f2f2f2;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 2.5px 2.5px 2.5px #f2f2f2;
}

body section.activites div.activite div.col div.titreArticle h3 {
    font-weight: 600;
}


/*  footer*/

body footer {
    background-color: #f2f2f2;
    margin-top: 50px;
}

body footer div.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

body footer div.row div.col {
    width: 33%;
}

body footer div.row div.col h3 {
    margin-left: 10px;
}

body footer div.row div.col ul li {
    list-style: none;
}

body footer div.row div.col ul li a {
    text-decoration: none;
    color: black;
}

body footer div.row div.col ul li a {
    text-decoration: none;
}


/*# smartphone*/

@media screen and (max-width: 569px) {
    /* body */
    /* heder */
    /* navigation */
    body header nav ul {
        padding-top: 50px;
    }
    body header nav ul li.inscription a {
        position: absolute;
        top: 5px;
    }
    /* recherche */
    body main div#modulerecherche button {
        position: absolute;
        right: 115px;
        top: 258px;
    }
    /*  hebergement  section 1*/
    /* les filtres */
    body main #lesfiltres {
        flex-wrap: wrap;
    }
    /* icon ds filtre */
    body main .filtre div#icon {
        top: 369px;
        display: flex;
        flex-wrap: wrap;
    }
    /*  Section  1 hebergement a marseille partie les plus popuaires*/
    body main section.hebergement div.container_hebergement {
        display: block;
    }
    /*  Section  2 activité a marseille */
    body section.activites div.activite {
        display: flex;
        flex-wrap: wrap;
    }
}